@media screen and (max-width:768px){
    #wrap{width:100%;background-position: 22% 0;}
    #footer .footerArea{width:100%;}
    .snb {width:22%;}
    #content{width:74%;}
    body{background-color: green;}
}


@media screen and (max-width:480px){
    .topnav, .snb>h2, .locate{display:none;}
    .logo{padding-left:0;}
    .logo a{margin:0 auto;}
    .mainnav{padding-left:0;}
    .mainnav li{float:none;text-align:center;}
    #wrap{background-image: none;}
    .snb{width:100%;float:none;border-bottom: 1px solid white;}
    #content{float:none; width:100%;}
    #content .thum{float:none;}
    #content .text{margin-left:14px;}
    .snb ul {text-align: center;}
    .snb ul li {display:inline-block;}
    .btmnav{float:none;margin-left: 20px;}
}
